.blog-post-page {
  padding-bottom: 30px;
}

.blog-page {
  padding-bottom: 30px;
  margin-top: 30px;
}

.blog-content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
