.detail-grid {
    margin-bottom: 30px;

    .basic-info {
        margin-bottom: 30px;

        .price {
            color: $secondary-color;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 25px;
            display: block;
        }

        .vehicle-name {
            font-size: 32px;
        }

        .button-align {
            display: flex;
            flex-direction: column;
        }

        .button {
            width: 180px;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .vehicle-info {
        background-color: $light-gray-bg;
        padding: 20px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

        .information {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
                margin-bottom: 15px;
            }

            li:nth-child(3),
            li:last-child {
                margin-bottom: 0;
            }

            li .category {
                font-size: 14px;
                display: block;
            }

            li .details {
                font-size: 14px;
                font-weight: 500;
                display: block;
            }
        }
    }

    .finance-info {
        background-color: $light-gray-bg;
        padding: 20px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

        .finance-title {
            margin-bottom: 20px;
        }

        .list li {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .heading,
            .detail {
                font-size: 14px;
            }

            .heading {
                font-weight: 700;
                width: calc(100% - 116px);
            }

            .detail {
                width: 68px;
            }

            .icon-align {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 48px;
            }

            .minus,
            .plus {
                width: 18px;
                height: 18px;
                display: inline-block;
                cursor: pointer;

                @include bg-image;
            }

            .minus {
                background-image: url("../images/icon-minus.svg");
            }

            .plus {
                background-image: url("../images/icon-plus.svg");
            }
        }

        .value {
            font-size: 32px;
            font-weight: 700;
            color: $secondary-color;
            margin-bottom: 20px;
            display: block;

            .per {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    .enquire {
        background-color: $light-gray-bg;
        padding: 20px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        form .field.text,
        form .field.file,
        form .field.dropdown {
            width: 100%;
        }

        form .Actions .action {
            @extend .hollow;
        }
    }

    &__content {
        .info ul li:before {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: black;
            background-image: none;
            top: -3px;
        }
    }

    @include breakpoint(small down) {
        .wrapper {
            flex-direction: column-reverse;
        }
    }

    @include breakpoint(large up) {
        margin-bottom: 70px;
    }
}
