.footer {
    background-color: $black;
    padding: 50px 20px;

    .footer-align {
        border-bottom: 0.5px solid #888;
        padding-bottom: 20px;
    }

    .social {
        display: flex;
        align-items: center;

        li {
            margin-right: 15px;
            margin-bottom: 0;

            a {
                color: $secondary-color;
                font-size: 20px;
            }

            a:hover {
                color: $white;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .info {
        margin-bottom: 0;

        p {
            color: $white;
            font-weight: 700;
            font-size: 14px;
        }
    }

    &__logo {
        margin-bottom: 30px;

        a {
            display: inline-block;
        }

        .logo {
            max-width: 100%;
            width: 125px;
        }
    }

    &__contact {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 35px;

        .title {
            color: $white;
            font-size: 14px;
        }

        .contact-links {
            li {
                color: $white;
                font-size: 14px;
            }

            li a {
                color: $secondary-color;
                margin-left: 10px;
            }

            li a:hover {
                color: $white;
            }
        }
    }

    ul li {
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__info {
        margin-bottom: 35px;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 50%;
        }

        li a {
            color: $white;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    &__copyright {
        padding-top: 15px;
    }

    .copyright a {
        color: $white;
        opacity: 0.7;
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 700;
        display: inline-flex;
        align-items: center;

        img {
            width: 20px;
            max-width: 100%;
            margin-left: 5px;
        }

        &:hover {
            color: $secondary-color;
        }
    }

    &__links {
        margin-bottom: 50px;
    }

    @include breakpoint(large up) {
        padding: 75px 30px 20px;

        .wrapper {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 361px;
                height: 34px;
                position: absolute;
                top: -92px;
                right: 0;
                background-image: url("../images/footer-shape-1.svg");
                background-size: 100%;
                background-position: right;
                background-repeat: no-repeat;
            }
        }

        .info {
            margin-bottom: 30px;
        }

        .footer-align {
            padding-bottom: 35px;
        }

        .copyright a {
            flex-direction: row-reverse;

            img {
                width: 25px;
                margin-left: 0;
                margin-right: 5px;
            }
        }

        &__info,
        &__contact,
        &__links {
            margin-bottom: 0;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 50px;
        }

        &__logo .logo {
            width: 130px;
        }
    }

    @include breakpoint(xlarge up) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint(xxlarge up) {
        padding-left: 60px;
        padding-right: 60px;
    }
}
