.gallery-grid {
    margin-bottom: 20px;

    .wrapper {
        margin-left: -10px;
        margin-right: -10px;
        position: relative;

        .js-cat2,
        .js-cat3 {
            display: none;
        }
    }

    .more-vehicle-slider {
        .slick-track {
            align-items: flex-start;
        }
    }

    .more-vehicle-slider__arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;

        .slick-prev {
            left: -20px;
        }

        .slick-next {
            right: -20px;
        }

        @include breakpoint(xxlarge up) {
            .slick-next {
                right: -60px;
            }

            .slick-prev {
                left: -60px;
            }
        }
    }

    @include breakpoint(large up) {
        margin-bottom: 100px;

        .wrapper {
            margin-bottom: 35px;
        }

        &--vehicles {
            margin-top: 50px;
        }
    }
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    right: -25%;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
