.header {
    position: fixed;
    padding: 15px 20px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: $black;

    @include transition;

    .hamburger-align {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .logo-align {
        display: flex;
        align-items: center;
    }

    .logo {
        z-index: 100;

        img {
            max-width: 100%;
            width: 110px;

            @include transition;
        }
    }

    .hamburger {
        position: relative;
        width: 20px;
        height: 15px;
        display: inline-block;
        cursor: pointer;
        pointer-events: all !important;
        z-index: 11;

        .line {
            display: block;
            background: $white;
            height: 2px;
            width: 100%;
            border-radius: 1px;
            position: absolute;
            left: 0;
            top: 0;

            @include transition;
        }

        .line-2 {
            top: 6px;
        }

        .line-3 {
            top: 12px;
        }

        &:hover {
            .line {
                background: $secondary-color !important;
            }
        }

        &.active {
            .line-1 {
                display: none;
            }

            .line-2 {
                transform: rotate(45deg);
                top: 7px;
            }

            .line-3 {
                transform: rotate(-45deg);
                top: 7px;
            }
        }
    }

    &.stick {
        -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @include breakpoint(medium down) {
        &.open-menu {
            &.stick {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }

        &__nav {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100vh;
            padding: 72px 20px 160px;
            z-index: 10;
            margin-left: 0 !important;
            margin-right: 0 !important;
            background-color: $black;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 200ms, opacity 200ms linear;

            &.active {
                visibility: visible;
                opacity: 1;
                transition: opacity 200ms linear;
            }
        }

        .accordion-menu {
            height: 100%;
            overflow-y: scroll;
            position: relative;
            justify-content: flex-start !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .contact {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;

            .contact-links {
                margin: 0;
            }

            .contact-links li {
                list-style: none;
                list-style-type: none;
                line-height: 1.3;
                margin-bottom: 5px;
            }

            .contact-links li:last-child {
                margin-bottom: 0;
            }

            .contact-links li a {
                color: $secondary-color;
                font-size: 24px;
                position: relative;
                font-weight: 600;
            }

            .contact-links li a:hover {
                color: $white;
            }
        }
    }

    @include breakpoint(large up) {
        padding: 15px 30px;

        .logo img {
            width: 130px;
        }

        .wrapper {
            align-items: center;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
        }

        .contact {
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                line-height: 1;
            }
        }

        .phone {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-weight: 700;
            font-size: 24px;

            &:hover {
                color: $secondary-color;
            }
        }

        &.stick {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    @include breakpoint(xlarge up) {
        padding: 15px 40px;

        .phone {
            font-size: 28px;
        }
    }

    @include breakpoint(xxlarge up) {
        padding: 15px 60px;
    }
}
