.hero {
    position: relative;
    min-height: 450px;
    overflow: hidden;
    background-color: $black;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &__top,
    &__links {
        width: 100%;
        position: relative;
    }

    &__bg-image {
        @extend .absolute-100;

        @include bg-image;

        display: none;
    }

    &__content {
        .title,
        .info p {
            color: $white;
        }
    }

    &__image {
        position: relative;
        z-index: 1 !important;
        overflow: hidden;

        .image {
            width: 100%;
            max-width: 100%;
            position: relative;
        }
    }

    .links {
        .link {
            color: $white;
            text-decoration: underline;
            font-size: 20px;
            font-weight: 700;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    &--bg-image {
        min-height: 500px;

        .hero__image {
            display: none;
        }

        .hero__bg-image {
            display: block;
        }

        .content-align {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .hero__links {
            margin-top: 30px;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &--no-bottom-links {
        .hero__content {
            padding-bottom: 30px;
        }

        .hero__links {
            display: none;
        }

        .hero__image {
            position: relative;

            //&:before {
            //    content: '';
            //    display: block;
            //    width: 80%;
            //    position: absolute;
            //    top: 50px;
            //    right: 0;
            //    padding-top: 6.5637%;
            //    background-image: url("../images/hero-shape-1.svg");
            //    background-size: 100%;
            //    background-position: right;
            //    background-repeat: no-repeat;
            //}
        }
    }

    @include breakpoint(small down) {
        .wrapper {
            flex-direction: column-reverse;
        }

        &__image {
            margin-bottom: 30px;
        }

        &__links {
            .grid-container {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .links li {
            padding: 15px 30px;
            border-bottom: 2px solid $white;
            text-align: center;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    @include breakpoint(medium up) {
        &__links {
            padding-bottom: 40px;
        }

        .links {
            display: flex;
            align-items: center;

            li {
                width: (100%/3);
                padding: 15px 0;
            }

            li:nth-child(2) {
                text-align: center;
                border-left: 2px solid $white;
            }

            li:last-child {
                text-align: right;
                border-left: 2px solid $white;
            }
        }

        &--bg-image {
            .hero__links {
                padding: 20px 0;
            }
        }

        &--no-bottom-links {
            .hero__image {
                display: flex;
                align-items: flex-end;
            }
        }
    }

    @include breakpoint(large up) {
        padding-top: 70px;

        .links li .link {
            font-size: 26px;
        }

        &--bg-image {
            .hero__links {
                margin-top: 50px;
                padding: 35px 0;
            }

            .content-align {
                padding: 30px;
            }
        }

        &--no-bottom-links {
            overflow: visible;

            .hero__image .image {
                position: relative;
                top: 50px;
            }

            .hero__image {
                overflow: visible;
            }
        }
    }

    @include breakpoint(xlarge up) {
        &--bg-image {
            .hero__content {
                width: calc(33.33333% - 1.875rem + 100px) !important;
                max-width: none !important;
            }

            .content-align {
                padding: 50px;
            }
        }
    }
}
