.navigation {
    display: flex;

    @include transition;

    .menu li {
        a {
            position: relative;
            font-weight: 600;
            color: $white;
            font-size: 20px;
            padding: 0 !important;
        }
    }

    @include breakpoint(medium down) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100vh;
        padding: 120px 30px 110px;
        z-index: 10;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: $black;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 200ms, opacity 200ms linear;

        &.active {
            visibility: visible;
            opacity: 1;
            transition: opacity 200ms linear;
        }

        .accordion-menu {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            position: relative;
            justify-content: flex-start !important;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .menu li {
            margin-bottom: 20px;
            opacity: 0;
            transform: translateX(40%);
            transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            &.show {
                transform: translateX(0%);
                opacity: 1;
            }

            &.is-accordion-submenu-item {
                opacity: 1;
                transform: translateX(0%);
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 24px;
                color: $white;
            }

            a:hover {
                color: $secondary-color;
            }
        }

        .submenu-toggle {
            width: 25px;
            height: 25px;
            background-image: url("../images/angle-down-white.svg");

            @include transition;
            @include bg-image;

            background-size: 80%;

            .submenu-toggle-text {
                display: none;
            }

            &:after {
                display: none;
            }
        }

        .submenu-toggle[aria-expanded='true'] {
            transform: rotate(-180deg);
        }

        .menu .menu.submenu {
            padding-left: 15px;
            margin-top: 20px;

            li a {
                font-size: 20px;
            }
        }
    }

    @include breakpoint(large up) {
        align-items: center;
        justify-content: center;

        .menu:not(.submenu) > li {
            margin: 0 15px;

            a:hover {
                color: $secondary-color !important;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .is-dropdown-submenu-parent.is-active > a {
            color: $secondary-color !important;
        }

        .menu li a {
            text-transform: uppercase;
            font-size: 14px;
        }

        .menu .menu.submenu {
            background-color: $black;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 200ms, opacity 200ms linear;

            li a {
                padding: 10px 15px !important;
            }
        }

        .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent:hover .menu.submenu {
            visibility: visible;
            opacity: 1;
            transition: opacity 200ms linear;
        }

        .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent:hover > a:before {
            background: $primary-color;
            width: 100%;
            left: 0;
        }

        .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent:hover > a:after {
            transform: rotate(180deg);
        }

        .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a:after {
            right: 0;
            background-image: url("../images/angle-down-white.svg");
            border: 0;
            padding: 0;
            width: 12px;
            height: 6px;

            @include transition;
            @include bg-image;
        }

        .menu li.is-dropdown-submenu-parent a {
            padding-right: 20px !important;
        }
    }
}
