@mixin transition {
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}

@mixin transition- {
    transition: all 800ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}

@mixin transition-- {
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}

@mixin transition-nav {
    transition: opacity 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}

@mixin no-transition {
    transform: none;
}

@mixin transition-image {
    transition:
        transform 7s 0ms,
        filter 0.4s 0.5s,
        opacity  800ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}

@mixin bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lazy {
    filter: blur(40px);
    transition: opacity 0.4s, filter 0.4s 0.5s;

    &.b-loaded {
        filter: blur(0);
    }
}
