/**
 * What is this SCSS for?
 *
 * Any CSS that isn't critical to the intial load of your website will be
 * deferred until after your web page has fully finished loading.
 *
 * @credit
 * https://github.com/chris-pearce/css-guidelines
 */

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// !! Added to Critical: @include foundation-global-styles;
// !! Added to Critical: @include foundation-grid;
// !! Added to Critical: @include foundation-flex-grid;
// !! Added to Critical: @include foundation-xy-grid-classes;
// !! Added to Critical: @include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// !! Added to Critical: @include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// !! Added to Critical: @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
@include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
@include foundation-table;
// !! Added to Critical: @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// !! Added to Critical: @include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

@include foundation-prototype-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// !! Added to Critical: @import 'shared/mixins';
// !! Added to Critical: @import 'shared/icons';

// !! Added to Critical: @import 'components/header';
// !! Added to Critical: @import 'components/hero';

@import "mixins/mixins";

@import "shared/default";
@import "shared/slick";
@import "shared/form";
@import "shared/button";
@import "shared/card";
@import "shared/card-testimonial";
@import "shared/scroll-pane";
@import "shared/card-showroom";
@import "shared/card-column-pathway";
@import "shared/pagination";
@import "shared/cars-grid";
@import "shared/card-gallery";
@import "shared/gallery-slider";
@import "shared/video-popup";
@import "shared/filters";
@import "shared/nouislider";
@import "shared/calculator";

@import "components/blocks/block";
@import "components/blocks/block-cta";
@import "components/blocks/block-icon";
@import "components/blocks/block-team";
@import "components/blocks/block-testimonials";
@import "components/blocks/block-pathways";
@import "components/blocks/block-showroom";
@import "components/blocks/block-coloumised-pathways";
@import "components/blocks/block-partners";
@import "components/blocks/block-contact";
@import "components/blocks/block-map";
@import "components/blocks/block-calculator";
@import "components/leaflet";

@import "components/thirdparty/fancybox/core";
@import "components/thirdparty/fancybox/fullscreen";
@import "components/thirdparty/fancybox/share";
@import "components/thirdparty/fancybox/slideshow";
@import "components/thirdparty/fancybox/thumbs";

@import "components/footer";
@import "components/gallery-grid";
@import "components/detail-grid";

@import "pages/blog-post-page";
