.block-cta {
    &__content {
        .info p {
            //font-weight: 700;
        }
    }

    &--bg-black {
        background-color: $dark-bg;
        padding: 50px 0;

        .info {
            ul li,
            ol li,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: $white;
            }
        }

        .title {
            color: $white;
        }
    }

    @include breakpoint(medium up) {
        &--bg-black {
            padding: 80px 0;
        }
    }
}
