.block-coloumised-pathways {
    .pathway-column {
        padding: 40px 0;

        @include transition;

        &--bg-black {
            background-color: $dark-bg;

            .card-column-pathway .title,
            .info p {
                color: $white;
            }

            .link-has-arrow:hover {
                color: $white;
            }

            .link-has-arrow:hover:after {
                background-image: url("../images/angle-right-white.svg");
            }
        }

        .card-column-pathway {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include breakpoint(large up) {
        .pathway-column {
            padding: 70px 0;
        }
    }
}
