.block-showroom {
    .title {
        margin-bottom: 35px;
    }

    .button-align {
        margin-top: 15px;

        .button {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large up) {
        .title {
            margin-bottom: 55px;
        }

        .button-align {
            margin-top: 10px;
        }
    }
}
