.block {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;

    @include breakpoint(large up) {
        margin-bottom: 80px;
    }
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.margin-bottom-medium {
    margin-bottom: 50px;

    @include breakpoint(large up) {
        margin-bottom: 70px;
    }

    @include breakpoint(xlarge up) {
        margin-bottom: 90px;
    }
}

.margin-bottom-large {
    margin-bottom: 50px;

    @include breakpoint(large up) {
        margin-bottom: 70px;
    }

    @include breakpoint(xlarge up) {
        margin-bottom: 120px;
    }
}
