.block-icon {
    background-color: $dark-bg;
    padding: 60px 0;

    .title {
        color: $white;
    }

    .wrapper {
        margin-top: 60px;
    }

    //&--number {
    //    .card__content .title {
    //        display: none;
    //    }
    //
    //    .card__icon {
    //        margin-bottom: 45px;
    //    }
    //
    //    .card__icon .icon {
    //        width: auto;
    //        height: 100px;
    //    }
    //}

    @include breakpoint(large up) {
        padding: 80px 0;

        //&--number {
        //    .card__icon .icon {
        //        height: 120px;
        //    }
        //}
    }
}
