.block-pathways {
    background-color: $light-gray;
    padding: 60px 0 70px;

    .wrapper {
        margin-top: 50px;
    }

    @include breakpoint(large up) {
        padding: 100px 0 60px;
    }
}
