.block-map {
    .map-align {
        min-height: 460px;
        position: relative;

        .map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @include breakpoint(large up) {
        .map-align {
            min-height: 470px;
        }
    }
}
