.block-calculator {
    &__tabs {
        margin-bottom: 35px;
    }

    .tabs,
    .tabs-content {
        border: 0;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
        background-color: $primary-color;
    }

    .tabs-title {
        width: 50%;

        a {
            color: $white;
            font-weight: 700;
            margin-bottom: 0;
            background-color: transparent !important;
            text-align: center;
            position: relative;
            line-height: 1.2;
            padding-left: 10px;
            padding-right: 10px;

            &:hover {
                color: $secondary-color;
            }
        }

        &.is-active a {
            color: $secondary-color;
        }

        &:first-child a {
            &:before {
                content: '';
                width: 1px;
                height: 50px;
                display: block;
                background-color: $white;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }

    .tabs-panel {
        padding: 0;
    }

    @include breakpoint(medium up) {
        .tabs-title a {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @include breakpoint(large up) {
        .tabs-title a {
            font-size: 24px;
        }
    }
}
