.block-contact {
    &__details .info-item {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            margin-bottom: 15px;
        }

        address {
            font-style: normal;
        }

        a {
            margin-bottom: 5px;
            color: $black;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: $secondary-color;
            }
        }

        .social {
            display: flex;
            align-items: center;
            margin-left: 0;

            li {
                margin-right: 15px;
                margin-bottom: 0;
            }

            li a {
                color: $secondary-color;
                font-size: 20px;
            }

            li a:hover {
                color: $primary-color;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    &__form {
        margin-bottom: 60px;
.step-button-next, .step-button-prev{
 @extend .step-button;
}
    }

    @include breakpoint(small down) {
        &__details .info-item {
            text-align: center;
            align-items: center;
        }
    }
}

@include breakpoint(small down) {
    .block-contact-wrapper {
        flex-direction: column-reverse;
    }
}
