.block-partners {
    .title {
        margin-bottom: 0;
    }

    .carousel {
        margin-top: 60px;
    }

    .partner-logo {
        img {
            max-width: 165px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a.partner-logo {
        cursor: pointer;
    }

    &__carousel {
        position: relative;

        .slick-slider {
            z-index: 2;
        }
    }

    .carousel-arrows {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    .slick-next,
    .slick-prev {
        top: 50%;
        transform: translateY(-50%);
    }
}
