.block-testimonials {
    .title {
        margin-bottom: 35px;
    }

    .wrapper {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            display: block;
            left: -20px;
            top: 0;
            width: 20px;
            height: 100%;
            background-color: $white;
            z-index: 1;
        }
    }

    .slick-list {
        overflow: visible;
    }

    .testimonial-carousel-dots {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    @include breakpoint(medium up) {
        .wrapper {
            overflow: visible;

            &:before {
                left: -30px;
                width: 30px;
            }
        }

        .testimonial-carousel {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    @include breakpoint(large up) {
        .title {
            margin-bottom: 70px;
        }

        .wrapper {
            &:before {
                left: -65px;
                width: 65px;
            }
        }

        .testimonial-carousel {
            padding-right: (100%/12*1);
        }

        .testimonial-carousel-dots {
            margin-top: 100px;
        }
    }

    @include breakpoint(1100px up) {
        .wrapper {
            &:before {
                left: -90px;
                width: 90px;
            }
        }
    }

    @include breakpoint(1230px up) {
        .wrapper {
            &:before {
                left: calc(585px - 50vw);
                width: calc(50vw - 585px);
            }
        }
    }
}
