.button {
    border: 0;
    min-height: 40px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 700;

    @include transition;

    &.hollow {
        border-width: 2px;
        padding: 5px 15px;

        &:hover {
            background-color: $secondary-color;
            color: $white;
        }
    }

    @include breakpoint(large up) {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        min-height: 50px;
    }
}

.step-button {
    border: 0;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 700;
    background-color: #000000;
    color: #fff;
    @include transition;

    &.hollow {
        border-width: 2px;
        padding: 5px 15px;

        &:hover {
            background-color: $secondary-color;
            color: $white;
        }
    }

    @include breakpoint(large up) {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        min-height: 25px;
    }
}
