.calculator {
    &__left {
        margin-bottom: 40px;
    }

    &__item {
        position: relative;

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $black;
            font-weight: 500;
        }

        input {
            margin-bottom: 0;
            color: $black;

            &::-webkit-input-placeholder {
                color: $black;
            }

            &::-moz-placeholder {
                color: $black;
            }

            &:-ms-input-placeholder {
                color: $black;
            }

            &:-moz-placeholder {
                color: $black;
            }
        }
    }

    &__item-amount {
        margin-bottom: 20px;

        &:before {
            content: '$';
            left: 10px;
        }

        input {
            padding-left: 30px;
        }
    }

    &__item-years {
        &:before {
            //content: 'years';
            right: 10px;
        }

        input {
            padding-right: 60px;
        }
    }

    &__item-years,
    &__uislider {
        margin-bottom: 50px;
    }

    &__item-title {
        margin-bottom: 15px;
    }

    &__uislider-values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 15px;

        .value {
            font-weight: 700;
        }

        .value-2 {
            position: absolute;
            left: calc(40% - 25px);
        }
    }

    &__result {
        background-color: $calculator-grey;
        padding: 30px;
        text-align: center;
    }

    &__result-value {
        display: block;
        margin-bottom: 40px;
    }

    &__result-button {
        color: $black;
    }

    &__result-text {
        margin-bottom: 0;
    }

    // --- payment-category ---
    .payment-category {
        &__period {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
        }

        &__time-period {
            position: relative;
            flex:1;
            overflow: hidden;
            border: 0;
            margin: 0 10px;

            @include transition;

            label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: $body-font-color;
                padding: 10px;
                margin: 0;
                width: 100%;
                height: 100%;
                font-weight: 600;
                border-radius: 4px;
            }

            label em {
                position: relative;
                font-style: normal;
            }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: transparent;
                border: 2px solid $black;
                border-radius: 4px;

                @include transition;
            }

            &:hover [type="radio"]:not(:checked) + label:before,
            [type="radio"]:checked + label:before {
                background: $secondary-color;
                border-color: $secondary-color;
                border-radius: inherit;
            }

            label:after {
                display: none;
            }
        }
    }

    @include breakpoint(medium up) {
        &__left {
            margin-bottom: 0;
        }

        &__result {
            max-width: 350px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 auto;
        }
    }

    @include breakpoint(large up) {
        &__result {
            padding: 45px 30px 30px;
        }

        &__result-value {
            margin-bottom: 70px;
        }

        &__result-button {
            margin-bottom: 30px;
        }

        &__result-button {
            min-width: 180px;
        }
    }
}
