.card-column-pathway {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

    .top-shape {
        margin-bottom: 35px;
    }

    .title {
        margin-bottom: 25px;
    }

    .info {
        margin-bottom: 30px;
        height: 75px;
        overflow: hidden;

        @include transition;
    }

    .less {
        display: none;
    }

    &.is-expand {
        .info {
            height: 100%;
        }

        .more {
            display: none;
        }

        .less {
            display: inline-flex;
        }

        .link-has-arrow:after {
            transform: rotate(-90deg);
        }
    }

    @include breakpoint(medium up) {
        margin-bottom: 0;
    }
}
