.card-showroom {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;

    &__image {
        position: relative;
        overflow: hidden;
        display: block;

        &:after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 64.598%;
        }

        .image {
            @extend .absolute-100;

            @include bg-image;
            @include transition-image;
        }
    }

    &__content {
        position: relative;
        padding: 25px 20px;

        .price {
            display: inline-block;
            padding: 7px 15px;
            border-radius: 3px;
            background-color: $secondary-color;
            color: $black;
            font-size: 16px;
            position: absolute;
            top: -25px;
            right: 30px;
            font-weight: 700;
        }

        .car-brand {
            margin-bottom: 15px;
        }

        .information {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
                margin-bottom: 15px;
            }

            li:nth-child(3),
            li:last-child {
                margin-bottom: 0;
            }

            li .category {
                font-size: 10px;
                display: block;
            }

            li .details {
                font-size: 12px;
                font-weight: 500;
                display: block;
            }
        }
    }

    &:hover {
        .card__image .image {
            transform: scale(1.1);
        }
    }

    @include breakpoint(large up) {
        margin-bottom: 40px;
    }
}
