.card-gallery {
    padding: 10px;

    .card-gallery-align {
        position: relative;
        overflow: hidden;
        display: block;

        &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 73.333%;
        }
    }

    &--video .card-gallery-align {
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.75;
        }
    }

    .play-align {
        width: 60px;
        cursor: pointer;
        z-index: 10;

        @include center-align;

        .icon-play {
            width: 100%;
            transition: transform 300ms linear;
        }

        &:hover .icon-play {
            transform: scale(1.1) rotate(0deg);
        }
    }

    &__image {
        @extend .absolute-100;

        @include bg-image;
        @include transition-image;
    }

    &:hover {
        &__image {
            transform: scale(1.1);
        }
    }

    @include breakpoint(large up) {
        .play-align {
            width: 90px;
        }

        .card-gallery-align {
            &:before {
                padding-top: 46.4%;
            }
        }

        &--video .card-gallery-align,
        &--large .card-gallery-align {
            &:before {
                padding-top: 72.987%;
            }
        }
    }
}
