.card-testimonial {
    .info {
        height: 75px;
        overflow: auto;
    }

    &__profile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 80px;
    }

    .profile-image {
        width: 100px;
        position: relative;
        margin-bottom: 12px;
    }

    .profile-align {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
        }

        .image {
            filter: blur(0) !important;

            @extend .absolute-100;

            @include bg-image;
        }
    }

    .details {
        width: calc(100% - 100px);
        padding-left: 20px;

        .title {
            color: $black;
            margin-bottom: 5px;
        }

        .position {
            line-height: 1.2;
            display: block;
        }
    }

    @include breakpoint(medium up) {
        padding-left: 15px;
        padding-right: 15px;

        .card-wrapper {
            padding: 30px 20px 0;
            border: 1px solid $secondary-color;
            border-bottom: 0;
            position: relative;

            &:before,
            &:after {
                content: '';
                width: 1px;
                height: 50px;
                display: inline-block;
                position: absolute;
                bottom: 0;
                background-color: $white;
            }

            &:before {
                left: -1px;
            }

            &:after {
                right: -1px;
            }
        }

        .profile-image {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large up) {
        .card-wrapper {
            padding: 40px 35px 0;
        }
    }
}
