.card {
    margin-bottom: 50px;

    &__image {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        &:after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 49.33%;
            background-color: #f1f1f1;
        }

        .image {
            @extend .absolute-100;

            @include bg-image;
            @include transition-image;
        }
    }

    &__icon {
        margin-bottom: 20px;
        display: inline-block;

        .icon {
            width: 120px;
            max-width: 100%;
        }
    }

    &__content {
        .title {
            color: $white;
        }

        .position {
            display: block;
            margin-bottom: 25px;
        }

        .info p {
            color: $white;
            font-weight: 500;
        }

        .button {
            margin-bottom: 0;
        }
    }

    &--icon {
        .title {
            font-weight: 500;
        }
    }

    &--team {
        &.card {
            margin-bottom: 55px;
        }

        .card__image:after {
            display: none;


        }

        .card__image .image {
            transform: scale(1) !important;
        }

        .image-align {
            position: relative;
            overflow: hidden;
            max-width: 100%;
            width: 120px;
            border-radius: 50%;

            &:after {
                content: '';
                display: block;
                width: 100%;
                padding-top: 100%;
            }
        }

        .card__content {
            .title {
                margin-bottom: 5px;
                color: $black;
            }
        }

        .info {
            margin-bottom: 0;

            p {
                color: $black;
            }
        }

        .link-has-arrow {
            margin-top: 20px;
        }
    }

    &--pathways {
        margin-bottom: 10px;
        background-color: $primary-color;

        .card__image {
            margin-bottom: 0;
        }

        .card__content {
            position: relative;
            padding: 35px 20px;

            .info p {
                color: $white;
            }
        }

        .shape {
            position: absolute;
            top: -6px;
            right: 20px;
            width: 33%;
            background-image: url("../images/pathway-shape.svg");
            background-size: 100%;
            background-position: right;
            background-repeat: no-repeat;

            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 9.3922%;
            }
        }

        .link {
            margin-top: 25px;
        }

        .link:hover {
            color: $white;

            &:after {
                background-image: url("../images/angle-right-white.svg");
            }
        }
    }

    //&--blog {
    //    &.card {
    //        margin-bottom: 60px;
    //    }
    //
    //    .card__image {
    //        margin-bottom: 30px;
    //    }
    //
    //    .card__image:after {
    //        padding-top: 90.32%;
    //    }
    //
    //    .card__content {
    //        .info {
    //            margin-bottom: 35px;
    //        }
    //
    //        .info p {
    //            color: $secondary-color;
    //        }
    //    }
    //
    //    .blog-details {
    //        margin-bottom: 10px;
    //
    //        .date {
    //            font-size: 16px;
    //            color: $secondary-color;
    //        }
    //    }
    //}

    &--blog {
        &.card {
            margin-bottom: 30px;
        }
    }

    &:hover {
        .card__image .image {
            transform: scale(1.1);
        }
    }

    @include breakpoint(small down) {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    @include breakpoint(medium up) {
        &__image {
            &:after {
                padding-top: 50.456%;
            }
        }

        &--icon {
            display: flex;
            flex-direction: column;
        }

        //&--blog {
        //    .card__image:after {
        //        padding-top: 59.85%;
        //    }
        //}
    }

    @include breakpoint(large up) {
        margin-bottom: 0;

        &__icon .icon {
            width: 150px;
        }

        &__content {
            .button {
                margin-top: 50px;
            }

            .info {
                margin-bottom: 0;
            }
        }

        &--team {
            .image-align {
                width: 220px;
            }

            .link-has-arrow {
                margin-top: 35px;
            }
        }

        &--pathways {
            margin-bottom: 40px;
        }
    }
}
