.cars-grid {
    &__item {
        margin-bottom: 50px;

        a {
            display: block;
            text-align: center;
        }

        img {
            width: 355px;
            max-width: 100%;
            margin-bottom: 15px;
        }

        .title {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large up) {
        margin-bottom: 100px;

        &__item {
            margin-bottom: 0;

            img {
                margin-bottom: 25px;
            }
        }
    }
}
