// Manually picked elements and classes to be added as critical components.
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.grid-padding-x > .cell {
    padding: 0 $global-padding;
}

.grid-x > .auto {
    width: auto;
}

.grid-x > .shrink {
    width: auto;
}

.cell.auto {
    flex: 1 1 0;
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.align-middle {
    align-items: center;
}

.align-center {
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}
