* {
    &:focus {
        outline: none;
    }
}

body {
    padding-top: 72.67px;

    @include breakpoint(large up) {
        padding-top: 80.44px;
    }
}

a {
    @include transition;
}

.link-has-arrow,
a.link-has-arrow {
    color: $secondary-color;
    text-decoration: underline;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

    @include transition;

    &:after {
        content: '';
        width: 10px;
        height: 12px;
        display: block;
        margin-left: 7px;
        background-image: url("../images/angle-right-orange.svg");
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center;

        @include transition;
    }

    &:hover {
        color: $primary-color;

        &:after {
            background-image: url("../images/angle-right-black.svg");
        }
    }
}

.info {
    ul li {
        position: relative;
        margin-bottom: 20px;

        &:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url("../images/icon-list.svg");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: 2px;
            margin-right: 10px;
        }
    }

    ol li {
        counter-increment: counter;
        position: relative;
        margin-bottom: 20px;

        &:before {
            content: counter(counter) " ";
            color: $secondary-color;
            line-height: 1;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            top: -2px;
            margin-right: 10px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.info h1,
.h1-block {
    font-size: 34px;

    @include breakpoint(medium up) {
        font-size: 38px;
    }

    @include breakpoint(large up) {
        font-size: 44px;
    }
}

.info h2,
.h2-block {
    font-size: 30px;

    @include breakpoint(medium up) {
        font-size: 34px;
    }

    @include breakpoint(large up) {
        font-size: 40px;
    }
}

.info h3,
.h3-block {
    font-size: 30px;

    @include breakpoint(medium up) {
        font-size: 30px;
    }

    @include breakpoint(large up) {
        font-size: 32px;
    }
}

.info h4,
.h4-block {
    font-size: 26px;
}

.info h5,
.h5-block {
    font-size: 20px;
}

.info h6,
.h6-block {
    font-size: 16px;
}

p,
ul li,
ol li {
    font-size: 16px;
}

ul,
ol {
    margin: 0;

    li {
        list-style: none;
        list-style-type: none;
    }
}

.info {
    margin-bottom: 25px;

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 200ms, opacity 200ms linear;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms linear;
}

.absolute-100 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
