.filters {
    margin-bottom: 20px;

    @include breakpoint(medium up) {
        .filters-align {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            select {
                width: calc(50% - 15px);
            }
        }
    }

    @include breakpoint(large up) {
        .filters-align {
            margin: 0 -5px;

            select {
                width: calc((100%/3) - 15px);
            }
        }
    }

    @include breakpoint(xlarge up) {
        margin-bottom: 35px;

        .filters-align {
            align-items: center;
            flex-wrap: nowrap;

            select {
                width: (100%/6);
                margin: 0 5px;
            }
        }
    }
}
