input[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    box-shadow: none; // Removes Foundation's default box-shadow, this is optional
}

// Styling UserForm module's Action (Submit) buttons
form [type='submit'],
form [type='button'] {
    @include button(true, $primary-color, $primary-color, #fff, solid);

    width: auto;
    display: inline-block;
    margin-right: 0.2rem;
}

// Styling UserForm module's Reset button
form [type='reset'] {
    @include button(true, $secondary-color, $secondary-color, #fff, solid);

    width: auto;
    display: inline-block;
    margin-right: 0.2rem;
}

// Optional: Select Box styles
select {
    background-image: url(../images/angle-down-black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 97% center !important;
    background-size: 16px !important;
    padding-right: 0.5rem; // Cancels out the default Foundation right padding
}

// Prevent Textarea resizing horizontally
textarea {
    resize: vertical;
}

label {
    font-size: 1rem;
    font-weight: normal;

    input {
        margin-top: 0.2rem;
    }
}

legend {
    color: #000;
}

fieldset {
    padding: 0;
    border: none;
    margin-bottom: 1rem;
}

.checkbox {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.field.file {
    padding: 1rem;
    background-color: transparent;
    color: $black;
    border: 1px solid $medium-gray;
    width: 100%;

    &:hover {
        background-color: transparent !important;
        color: inherit !important;
    }
}

.field.file label {
    text-shadow: none;
    text-transform: capitalize;
}

.field.file .button {
    background-color: transparent;
    padding: 0;
}

.field.file input {
    margin-bottom: 0;
}

// Required field's * style
.requiredField label:after {
    content: " * ";
    font-size: 1.2rem;
}

// Custom Checkbox & Radio Button Styles
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before {
    background: #fff;
}

[type='checkbox'] + label,
[type='radio'] + label {
    margin-left: 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 1.7;
    display: inline-block;
    color: $dark-gray;
}

[type="checkbox"]:checked + label,
[type="radio"]:checked + label {
    color: #000;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    //background: url(../images/svg/icon-box.svg) no-repeat;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    //background: url(../images/svg/icon-check.svg) no-repeat;
    position: absolute;
    left: 0;
    top: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

// Accessibility: Focus Outline
[type="checkbox"]:focus + label:before,
[type="radio"]:focus + label:before {
    outline: $secondary-color auto 5px;
}

// Messages Styles
.message {
    background: lighten($warning-color, 45%);
    padding: 0.5rem 1rem;
    border: 1px solid lighten($warning-color, 35%);
}

.message.error {
    background: lighten($alert-color, 40%);
    border: 1px solid lighten($alert-color, 30%);
    color: darken($alert-color, 10%);
}

.message.success {
    background: lighten($success-color, 40%);
    border: 1px solid lighten($success-color, 30%);
    color: darken($success-color, 40%);
}

form {
    .middleColumn {
        width: 100%;
    }

    label {
        display: none;
    }

    .field {
        margin-bottom: 13px;

        input,
        textarea,
        .dropdown {
            padding: 0 10px;
            box-shadow: none;
            font-size: 14px;
            line-height: 1.25;
            background: transparent;
            color: $black;
            border-color: rgba(0, 0, 0, 0.5);

            &::-webkit-input-placeholder {
                opacity: 1;
                color: $black;
            }

            &::-moz-placeholder {
                opacity: 1;
                color: $black;
            }

            &:-ms-input-placeholder {
                opacity: 1;
                color: $black;
            }

            &:-moz-placeholder {
                opacity: 1;
                color: $black;
            }
        }

        &.dropdown {
            padding: 0;
            margin-bottom: 13px !important;
        }

        input,
        .dropdown {
            margin-bottom: 0;
            border-radius: 0;
            height: 40px;
        }

        textarea {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 0;
        }
    }

    .checkbox {
        position: relative;
        padding-left: 40px;

        label {
            text-transform: inherit;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.13333;
        }

        .checkbox {
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 0;
            width: 15px;
            height: 15px;
            padding: 0;
        }
    }

    .userform-fields .CompositeField {
        margin-bottom: 30px;
    }

    .Actions {
        display: inline-block;
        position: relative;
        margin-bottom: 15px;

        .action {
            @extend .button;

            margin-bottom: 0 !important;
            min-width: 175px;
        }
    }

    @include breakpoint(large up) {
        div.field {
            width: 100%;

            &.half--width {
                width: calc(50% - 15px) !important;
            }

            &.full--width {
                width: 100%;
            }
        }

        .field.text,
        .field.file,
        .field.dropdown {
            width: calc(50% - 15px);
        }

        .field.text.email,
        .field.textarea {
            width: 100%;
        }

        .userform-fields .CompositeField {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 17px;
        }
    }
}

form .file {
    padding: 0 !important;
    border: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        display: inline-block;
        margin-bottom: 0 !important;
        text-transform: uppercase !important;
        font-weight: 400 !important;
        font-size: 14px;
        width: calc(100% - 132px);
        line-height: 1.2;
    }
}

form .file .file {
    height: 40px;
}

form .file .middleColumn {
    position: relative;
    width: 132px;

    @include transition;

    &:hover .file {
        &:before {
            background: $secondary-color;
        }
    }
}

form .file .middleColumn .file {
    padding: 7px 0 7px 43px !important;
    color: $secondary-color;
    text-transform: uppercase;

    &:before {
        content: 'Attach File';
        color: $black;
        background: $primary-color;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 132px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;

        @include transition;
    }
}

fieldset .CompositeField {
    @include breakpoint(large up) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 17px;
    }

    input,
    textarea,
    select {
        text-transform: uppercase;
    }
}

.select2-container--default .select2-selection--multiple {
    border-radius: unset;
    display: flex;
}

.select2-search {
    font-size: 14px;
    line-height: 1.25;
    width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 10px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 38px;
}

.select2-container,
.select2-search__field {
    width: 100% !important;
}
