.gallery-slider {
    position: relative;
    margin-bottom: 30px;

    .gallery-item {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 73.333%;
        }

        .image {
            @extend .absolute-100;

            @include bg-image;
        }
    }

    &__arrows {
        position: absolute;
        top: 50%;
        width: 100%;

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1;
            width: 30px;
            height: 30px;
            background-size: 20px !important;
        }

        .slick-prev {
            left: 20px;
        }

        .slick-next {
            right: 20px;
        }
    }
}
