.pagination-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-bar .pagination {
    position: relative;
    margin-bottom: 0;
}

.pagination-bar .pagination li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    margin: 0 5px;

    @include transition;
}

.pagination-bar .pagination li a,
.pagination-bar .pagination li span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    display: inline-block;
}

.pagination-bar .pagination li {
    &:hover {
        a {
            color: $secondary-color;
            cursor: pointer;
            background-color: transparent;
        }
    }
}

.pagination-bar .pagination li.current {
    color: $secondary-color;
    cursor: not-allowed;
}

.pagination-bar .pagination li.disabled {
    &:hover {
        background: transparent;
        color: $primary-color;

        a {
            background: transparent;
            color: $primary-color;
        }
    }
}

.pagination-bar .pagination-next.disabled {
    color: #cacaca;

    &:after {
        display: none;
    }
}

.pagination-bar .pagination li.pagination-next,
.pagination-bar .pagination li.pagination-previous {
    position: absolute;
}

.pagination-bar .pagination li.pagination-previous {
    left: 0;

    &:before {
        display: none;
    }
}

.pagination-bar .pagination li.pagination-previous svg {
    margin-right: 10px;
}

.pagination-bar .pagination li.pagination-next {
    right: 0;
}

.pagination-bar .pagination li.pagination-next a svg {
    margin-left: 10px;
}

@include breakpoint(large) {
    .pagination-bar {
        margin-top: 10px;
    }

    .pagination-bar .pagination li {
        font-size: 20px;
    }

    .pagination-bar .pagination li a {
        font-size: 20px;
    }
}

@include breakpoint(xlarge) {
    .pagination-bar .pagination li {
        font-size: 24px;
    }

    .pagination-bar .pagination li a {
        font-size: 24px;
    }
}

.pagination li {
    display: inline-block;
}

.pagination {
    display: flex;
    margin: 0 10px;
}
