.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    background: #888;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}

.jspHorizontalBar {
    background: red;
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #888;
    position: relative;
}

.jspDrag {
    background: $secondary-color;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    cursor: pointer;
    direction: ltr;
    display: block;
    margin: 0;
    padding: 0;
    text-indent: -20000px;
}

.jspDisabled {
    background: #80808d;
    cursor: default;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px;
}

.jspVerticalBar .jspArrow:focus {
    border: 1px solid red;
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}

.block-pathway-carousel {
    .jspHorizontalBar {
        max-width: 250px !important;
        overflow: hidden;
        //bottom: -25px !important;
        top: 25px !important;
        height: 5px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        background-color: $secondary-color !important;
        margin-left: -20px !important;
        position: relative !important;

        .jspTrack {
            width: 100% !important;
            background-color: $secondary-color !important;
        }
    }

    .jspContainer {
        overflow: visible !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .jspDrag {
        background-color: $primary-color !important;
        width: 70% !important;
    }

    .jspScrollable {
        overflow: visible !important;
        padding-bottom: 25px !important;
    }

    @include breakpoint(medium up) {
        .jspHorizontalBar {
            max-width: 500px !important;
        }
    }

    @include breakpoint(large up) {
        .jspHorizontalBar {
            //bottom: -60px !important;
            top: 60px !important;
            max-width: 750px !important;
            margin-left: -60px !important;
        }

        .jspScrollable {
            padding-bottom: 60px !important;
        }

        .jspDrag {
            width: 70% !important;
        }
    }
}
