.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    padding: 100px 30px 50px;

    @extend .fade-out;

    &.active {
        @extend .fade-in;
    }

    .wrapper {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            display: block;
            padding-top: 56.25%;
        }
    }

    .loading {
        @include center-align;

        h6 {
            color: $white;
        }
    }

    .close-button {
        position: absolute;
        top: -45px;
        right: 0;
        font-size: 45px;
        line-height: 1;
        color: $white;
        cursor: pointer;

        @include transition;

        &:hover {
            color: $secondary-color;
        }
    }

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
